<section class="hero_sec" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{{ section.settings.bg_image | img_url: 'master' }}');">
  <div class="container">
    <div class="hero_content">
      {% if section.settings.heading != blank %}
      <h1>{{ section.settings.heading }}</h1>
      {% endif %}
      <ul> 
        {% for block in section.blocks %} 
        {% if block.settings.collection_name != blank %}
        <li>
          <a href="{{block.settings.collection_url}}">
            <div class="icon_arrow"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "></polygon><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>
            <span> {{block.settings.collection_name}}</span>
          </a>
        </li>
        {% endif %}
        {%endfor%}
      </ul>
      {% if section.settings.box_animation != blank %}
      <span class="one_line line"></span>
      <span class="two_line line"></span>
      <span class="three_line line"></span>
      <span class="four_line line"></span>
      {% endif %}
    </div> 
  </div>
</section>
{% schema %}
  {
    "name": "Hero Banner",
	"class": "hero_section_main",
    "settings": [
		{
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
		{
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
		{
          "type": "range",
          "id": "box_max_width",
          "min": 400,
          "max": 600,
          "step": 20,
          "unit": "px",
          "label": "Max Width",
          "default": 600
        },
		{
          "type": "text",
          "id": "box_bg",
          "label": "Background Color"
        },
		{
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
		{
          "type": "select",
          "id": "box_alignment",
          "label": "Horizontal alignment",
          "options": [
            {
              "value": "0 auto 0 0",
              "label": "Left"
            },
            {
              "value": "0 auto",
              "label": "Center"
            },
            {
              "value": "0 0 0 auto",
              "label": "Right"
            }
          ]
        },
		{
          "type": "checkbox",
          "id": "box_animation",
          "label": "Animation"
        }
],
      "blocks":[
       {
        "type": "Collection",
        "name": "Collection",
        "settings": [
              {
                "type": "text",
                "id": "collection_name",
                "label": "Collection Name"
              },
			  {
                "type": "url",
                "id": "collection_url",
                "label": "Collection Url"
              }
            ]
          }
      ],
      "presets": [
       {
         "name": "Hero Banner",
         "category": "Hero Banner"
       }
      ]
  }
{% endschema %}
